Flask
docutils
git+git://github.com/mitsuhiko/flask-babel.git#egg=Flask-Babel@rev77b4ef43794f54255d94b18edebfb2344fa6bdff
Flask-OpenID
Flask-Redis
flatland
Flask-Script
tweepy
gunicorn
fabric
Flask-SQLAlchemy
