Flask<0.8
docutils
git+https://github.com/mitsuhiko/flask-babel.git@77b4ef43794f54255d94b18edebfb2344fa6bdff#egg=Flask-Babel
Flask-OpenID
git+https://github.com/satori/flask-redis.git@35c5010e0d01a760b193#egg=Flask-Redis
flatland
Flask-Script
Flask-Compass
tweepy
gunicorn
fabric
Flask-SQLAlchemy
psycopg2
