$mainnav: #222;
$teaser-links: darken(#ffd43b, 15);
$teaser: #306998;
$teaser-fg: #FFFFFF;
$accountnav-bg: lighten($teaser, 50);
$mainnav-fg: darken($teaser-links, 25);
$mainnav-active-fg: $mainnav-fg;
$subnav-fg: #FFF;
$subnav-bg: $teaser;
$links: $teaser;
$th-bg: lighten($teaser, 50);
$th-fg: $teaser;

$sidebar-block-fg: $mainnav-fg;
$block-title-bg: lighten($sidebar-block-fg, 30);
$block-title-fg: $sidebar-block-fg;

$h1-fg: $teaser;

$confirm-border: lighten($mainnav-fg, 30);
$flash-bg: darken($block-title-bg, 10);
$flash-fg: #FFFFFF;

$next-meetup-bg: lighten($mainnav-active-fg, 50);
$next-meetup-fg: $mainnav-active-fg;

$news-item-bg: #EFEFEF;
$news-item-fg: #555;

$preview-bg: #EFEFEF;
$preview-border: $mainnav-active-fg;
