@import "common";

.content, #body {
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 25px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: Garamond, Georgia, serif;
        letter-spacing: -1px;
        margin-bottom: 0.4em;
    }
    h2, h3, h4, h5, h6 {
        margin-top: 1em;
    }
    table {
        margin-bottom: 1em;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        padding: 5px;
        border-bottom: 1px solid #DEDEDE;
    }
    th {
        font-family: Georgia, serif;
        font-style :italic;
        font-weight: bold;
        text-align: center;
        background: $midblue;
        color: $darkblue;
        border-top: 1px solid $darkblue;
    }
    a {
        color: $blue;
        &:hover {
            color: $highlight;
        }
    }
    p, ul, ol {
        line-height: 1.4em;
        margin-bottom: 1em;
    }
    li {
        line-height: 1.4em;
    }
    blockquote {
        font-family: Georgia, serif;
        font-style :italic;
        *:first-child:first-letter {
            font-style :normal;
            font-size: 300%;
            float:left;
            padding: 0 3px 3px 0;
        }
        cite {
            display: block;
            text-align: right;
            font-style: italic;
        }
    }
    ul {
        list-style: circle;
        padding-left: 3em;
    }
    ol {
        list-style: numeric;
        padding-left: 3em;
    }
    dt, dd {
        padding: 3px;
    }
    dl {
        margin-bottom: 5px;
    }
    dt {
        font-weight: bold;
        background: #EFEFEF;
    }
    dd {
        background: #E5E5e5;
    }
}
