@import "common";

#body {
    table {
        margin-bottom: 1em;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        padding: 5px;
        border-bottom: 1px solid #DEDEDE;
    }
    th {
        font-weight: bold;
        text-align: center;
        background: $midblue;
        color: $darkblue;
        border-top: 1px solid $darkblue;
    }
}
