@import "blueprint/grid";
@import "colors";
@import "compass/css3/gradient";
@import "compass/css3/border-radius";

#main {
    width: 100%;
    padding: 0;
}
#teaser {
    background: lighten($teaser, 55);
}
#teaser-w {
    background: $teaser;
    border-bottom: 5px solid $teaser;
    color: $teaser-fg;
    @include linear-gradient(color-stops($teaser, lighten($teaser, 10)));
    @include container ;
    #info, #quote {
        h1 {
            color: $teaser-fg;
        }
        padding-top: 10px;
        padding-bottom: 10px;
        @include column(12);
        @include prepend(1);
        @include append(1);
    }
    #quote {
        padding-top: 3em;
        @include column(8);
        @include last;
    }
}
#misc {
    @include container;
    position:relative;
    margin-top: 1em;
    color: #555;
    a {
        color: #444;
    }
}
#next-meetup {
    float: right;
    width: 425px;
    #map {
        margin-top: 10px;
        border: 1px solid #444;
    }
}

h2 {
    font-size: 150%;
    border-bottom: 2px solid #DDD;
    margin-bottom: 10px;
    color: #333;
}
