@import "compass/reset";
@import "blueprint/grid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";
@import "content";
@import "common";
@import "colors";
/*
$blueprint_grid_width: 25px;
$blueprint_grid_outer_width: 35px;
$blueprint_container_size: 830px;
*/

body {
    font-size: 15px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    color: #333;
}

header, footer, #main, #flashes {
    position: relative;
    @include container;
}

a:hover {
    color: $highlight;
}
#logo {
    @include column(3);
    padding-top: 20px;
}
#accountnav {
    @include column(21);
    @include last;

    ul {
        float: right;
        font-size: 85%;
        padding: 0px 7px 0 7px;
        margin-right: 5px;
        background: $accountnav-bg;
        &:hover {
            background: #d2e5f3;
        }

        li {
            float: left;

            a {
                display: block;
                padding: 2px 10px;
                text-decoration: none;
                border-bottom: 4px solid transparent;
                color: $blue;
                &:hover {
                    color: $highlight;
                    border-bottom: 4px solid $highlight;
                }

                &.active {
                    font-weight: bold;
                    border-bottom: 4px solid $blue;
                }
            }
        }
    }
}
#mainnav {
    float: right;
    margin-top: 3em;

    ul {
        float: right;
        li {
            float: left;
            margin-left: 2em;
            a {
                font-size: 17px;
                padding: 10px;
                text-decoration: none;
                color: $mainnav-fg;
                &.active {
                    color: $mainnav-active-fg;
                    font-weight: bold;
                    border: 2px solid lighten($mainnav-active-fg, 50);
                    @include linear-gradient(color-stops(lighten($mainnav-active-fg, 50), lighten($mainnav-active-fg, 60)));
                    @include border-radius;
                }
            }
        }
    }
}
#main {
    padding-top: 2em;
}

#body {
    @include column(16);
    @include append(1);
}
#sidebar {
    @include column(7);
    @include last;
    .block {
        margin-bottom: 2em;
        color: $sidebar-block-fg;
        font-size: 90%;
        .title {
            font-size: 16px;
            font-weight: bold;
            color: $block-title-fg;
            background: $block-title-bg;
            @include linear-gradient(color-stops($block-title-bg, lighten($block-title-bg, 10)));
            padding: 5px;
        }
    }
}
#subnav {
    width: 100%;
    margin: 0 0 2em 0;
    padding: 5px 0;
    font-size: 80%;
    background: $subnav-bg;
    @include linear-gradient(color-stops(lighten($subnav-bg, 20), $subnav-bg));
    @include border-radius;

    .title {
        margin: 0 7px;
        color: darken($subnav-fg, 5);
        font-size: 120%;
        font-weight: bold;
        text-align: right;
        padding: 4px;
        @include border-radius();
        background: lighten($subnav-bg, 5);
    }
    ul {
        margin: 3px 7px;
    }

    li {
        padding: 0;
        border-top: 1px dotted $subnav-fg;
        &:first-child {
            border-top: none;
        }
    }

    a {
        display: block;
        padding: 7px 5px 7px 12px;
        color: $subnav-fg;
        text-decoration: none;
        &:hover {
            background: url(subnav.png) 0% 50% no-repeat;
        }

        &.active {
            background: url(subnav-active.png) 0% 50% no-repeat;
            font-weight: bold;
        }
    }
}

form {
    div {
        width: 100%;
        overflow: hidden;
    }
    label {
        float: left;
        width: 25%;
    }
    input, textarea {
        float: right;
        width: 70%;
    }
    .info {
        font-size: 80%;
        color: #999;
        float: right;
        width: 70%;
    }
    .errors {
        width: 70%;
        float: right;
        color: red;
    }
    textarea {
        height: 300px;
    }
}

#versions {
    .active {
        font-weight: bold;
    }
}
.confirm {
    border: 2px solid $confirm-border;
    padding: 1em;
    @include border-radius;
    @include linear-gradient(color-stops(lighten($confirm-border, 40), lighten($confirm-border, 70)));
}
#flashes {
    background: $flash-bg;
    color: $flash-fg;
    padding: 0.7em 0;
    font-weight: bold;
    @include border-radius;
    @include linear-gradient(color-stops($flash-bg, lighten($flash-bg, 5)));
    li {
        margin: 3px 1em;
    }
}
#preview {
    padding: 1em;
    background: $preview-bg;
    border: 1px dotted $preview-border;
    margin-bottom: 1em;
}

.unvote {
    font-weight: bold;
}


#ideas {
    margin-top: 2em;
}
