@import "compass/reset";
@import "blueprint/grid";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "content";
@import "common";
/*
$blueprint_grid_width: 25px;
$blueprint_grid_outer_width: 35px;
$blueprint_container_size: 830px;
*/

body {
    font-size: 16px;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    background: url(bodybg.png) top left repeat-x #EFEFEF;
    color: #333;
}

header, footer, #main {
    @include container;
}

a:hover {
    color: $highlight;
}
#logo {
    @include column(3);
    padding-top: 20px;
}
#mainnav {
    @include column(21);
    @include last;

    ul {
        float: right;
        padding: 4px 7px 0 7px;
        margin-right: 5px;
        background: #e4e4e4; //#E4E4E4;
        @include border-radius(0 0 10px 10px);
        @include box-shadow;
        &:hover {
            background: #d2e5f3;
        }

        li {
            float: left;

            a {
                display: block;
                padding: 5px 10px;
                text-decoration: none;
                border-bottom: 4px solid transparent;
                color: $blue;
                &:hover {
                    color: $highlight;
                    border-bottom: 4px solid $highlight;
                }

                &.active {
                    font-weight: bold;
                    border-bottom: 4px solid $blue;
                }
            }
        }
    }
}
#main {
    padding-top: 2em;
}

#body {
    @include column(16);
    @include append(1);
    .wrapper {
        background: #FFF;
        border: solid 3px #DDD;
        @include border-radius(4px);
        @include box-shadow;
        padding: 1em;
        margin-bottom: 7px;
    }

}
#sidebar {
    @include column(7);
    @include last;
}
#subnav {
    width: 100%;
    margin: 0 0 2em 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
    }

    a {
        display: block;
        padding: 7px 5px 7px 20px;
        color: #333;
        text-decoration: none;
        &:hover {
            background: url(subnav.png) 0% 50% no-repeat;
        }

        &.active {
            background: url(subnav-active.png) 0% 50% no-repeat;
            font-weight: bold;
        }
    }
}
