{% extends "base.html" %}
{% import "forms.html" as forms %}
{% import "base.html" as base with context %}
{% block title %}Profil ändern{% endblock %}
{% block bodyclass %}editprofile{% endblock %}
{% block body %}
<h1>Profil ändern</h1>
<form method="post">
    <div>
        <label>Name:</label>
        {{ formgen.input(form.username, type="text", autofocus="autofocus") }}
        {{ forms.errors(form.username) }}
    </div>
    <div>
        <label>E-Mail:</label>
        {{ formgen.input(form.email, type="email") }}
        {{ forms.errors(form.email) }}
        <span id="email-status" class="email-status-{{ g.user.email_status }}">{{ base.email_status(g.user.email_status) }}</span>
        {% if g.user.email_status != 'active' %}<a id="send-activation" href="{{ url_for('.start_email_activation') }}">Aktivierungsemail an diese Adresse versenden</a>{% endif %}
    </div>
    {% if g.user.email_activated() %}
    <fieldset>
        <legend>E-Mail-Benachrichtigungen:</legend>
        <div>
            <label for="email_new_meetup">Stammtischankündigung:</label>
            {{ formgen.input(form.email_notify_new_meetup, type="checkbox") }}
            <p class="info">
                Hiermit bekommst du eine E-Mail-Benachrichtung, wenn ein neuer Stammtisch
                angelegt bzw. relevante Information geändert werden. Dies betrifft lediglich
                zukünfigte Stammtische.
            </p>
        </div>
        <div>
            <label for="email_new_session_idea">Neue Session-Idee:</label>
            {{ formgen.input(form.email_notify_new_sessionidea, type="checkbox") }}
            <p class="info">
                Wenn für einen Stammtisch eine neue Session-Idee angelegt wird, bekommst du hiermit
                eine Benachrichtigung.
            </p>
        </div>
    </fieldset>
    {% endif %}
    <div class="buttons">
        <button type="submit">Speichern</button>
    </div>
</form>
{% endblock %}
