{% extends "base.html"%}
{% import "forms.html" as forms %}
{% block title %}Anmelden{% endblock %}
{% block body %}
<h1>Anmelden</h1>
<div class="info" style="float: left; width: 50%">
    <p>Um sich anmelden zu können, benötigen Sie eine OpenID. Damit können Sie sich
    auf vielen Websites ohne Passwort anmelden. <a href="http://de.wikipedia.org/wiki/OpenID">
    Mehr Information.</a></p>
</div>
<form method="post" style="float:right; width: 48%">
    <div>
        <label>OpenID:</label>
        {{ formgen.input(form.openid, type="url") }}
        {{ forms.errors(form.openid) }}
    </div>
    <div class="buttons">
        <input type="hidden" value="{{ next }}" />
        <button type="submit">Anmelden</button>
    </div>
</form>
{% endblock %}
