{% extends "base.html" %}
{% import "helpers/forms.html" as forms %}
{% block body %}
<form method="post">
    <div>
        <label>Name:</label>
        {{ formgen.input(form.username, type="text", autofocus="autofocus") }}
        {{ forms.errors(form.username) }}
    </div>
    <div>
        <label>E-Mail:</label>
        {{ formgen.input(form.email, type="email") }}
        {{ forms.errors(form.email) }}
    </div>
    <div class="buttons">
        <input type="hidden" value="{{ next }}" />
        <button type="submit">Speichern</button>
    </div>
</form>
{% endblock %}
