{% extends "companies/base.html" %}
{% block title %}Firmenprofil von {{ doc.name }} ändern{% endblock %}
{% import "helpers/forms.html" as forms %}
{% block body %}
<h1>Firmenprofil von {{ doc.name }} ändern</h1>
<form method="post">
    <div>
        <label>Name:</label>
        {{ formgen.input(form['name']) }}
        {{ forms.errors(form['name']) }}
    </div>
    <div>
        <label>Website:</label>
        {{ formgen.input(form.url) }}
        {{ forms.errors(form.url) }}
    </div>
    <div class="buttons">
        <button type="submit">Speichern</button>
        <a href="{{ url_for('cancel_edit', root_id=doc.root_id) }}">Abbrechen</a>
    </div>
</form>
{% endblock %}
