<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="/static/s/screen.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/s/print.css" type="text/css" media="print" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <!--
        <script type="text/javascript">
            $(function(){
                $('#logo').hover(function(ev){
                    var src = $('img', $(this)).attr('src');
                    $('img', $(this)).attr('src', src.replace('-mono', ''));
                }, function(ev){
                    var src = $('img', $(this)).attr('src');
                    $('img', $(this)).attr('src', src.replace('.png', '-mono.png'));
                })
            });
        </script>
        -->
        <title>{% block title %}Willkommen{% endblock %} - pyGRAZ</title>
        {% block head %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <div id="page">
            <header>
                <a href="/" id="logo"><img src="/static/s/logo.png" alt="pyGRAZ" /></a>
                <nav id="accountnav">
                    <ul>
                        {% if not g.user %}
                        <li><a href="{{ url_for('account.login') }}?next={{ request.path }}">Anmelden</a></li>
                        {% else %}
                        <li><a href="{{ url_for('account.edit_profile') }}">Meine Profil</a></li>
                        <li><a href="{{ url_for('account.logout') }}?next={{ request.path }}">Abmelden</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <nav id="mainnav">
                    <ul>
                        <li><a href="/" class="{% block nav_start %}{% endblock %}">Start</a></li>
                        <li><a href="{{ url_for('meetups.meetups') }}" class="{% block nav_meetups %}{% endblock %}">Treffen</a></li>
                        {#
                        <li><a href="{{ url_for('companies.index') }}" class="{% block nav_companies %}{% endblock %}">Firmen</a></li>
                        #}
                        <li><a href="http://groups.google.at/group/python-graz" class="{% block nav_about %}{% endblock %}">Mailinglist</a></li>
                        <li><a href="http://convore.com/pygraz">Convore</a></li>
                        {% if is_admin %}
                        <li><a href="{{ url_for('admin.index') }}" class="{% block nav_admin %}{% endblock %}">Administration</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul id="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div id="main">
                {% block main %}
                <div id="body"><div class="wrapper">
                    {% block body %}{% endblock %}
                </div></div>
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
                {% endblock %}
            </div>
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        </div>
    </body>
</html>
{% macro email_status(status) -%}
    {% if status == 'not_verified' %}Noch nicht aktiviert{% endif %}
    {% if status == 'active' %}Aktiviert{% endif %}
    {% if status == 'bounced' %}Nicht erreichbar{% endif %}
{%- endmacro %}
