{% extends "base.html" %}
{% block nav_start %}active{% endblock %}
{% block body %}
<div id="teaser">
    <h1>PyGRAZ - Die Grazer Python-Usergroup</h1>
    <p>Python-Programmierer oder interessiert? Die Python-Usergroup-Graz ist
    ein loser Haufen (sprich: Keine fixe Mitgliedschaft von Nöten) gleichgesinnert,
    der sich einmal im Monat trifft, um Neuigkeiten auszutauschen und Wissen
    zu vermitteln.</p>
    <p>Desweiteren möchten wir helfen, Python und die darauf aufbauenden Projekte
    in Graz bekannter zu machen und auch arbeitsuchenden Python-Programmierern
    helfen.</p>
</div>
<div id="misc">
    <div id="next-meetup">
        <h2>Nächstes Treffen</h2>

        {% if next_meetup %}
        <a href="{{ url_for('meetup', date=next_meetup.start|datecode)}}">{{ next_meetup.start|date }}</a>
        {% if next_meetup.location %}
        ({{ next_meetup.location.name }})
        {% endif %}
        {% endif %}
    </div>
    <div id="twitter">
        <h2>Twitter</h2>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="content">
<blockquote>
    <p>Python is a general-purpose high-level programming language[2] whose 
    design philosophy emphasizes code readability.[3] Python aims to combine
    "remarkable power with very clear syntax",[4] and its standard library is
    large and comprehensive. Its use of indentation for block delimiters is 
    unusual among popular programming languages.</p>
    <cite>-- <a href="http://en.wikipedia.org/wiki/Python_(programming_language)">wikipedia.org</a></cite>
</blockquote>
</div>
{% endblock %}
