{% extends "meetups/base.html" %}
{% block body %}
    <h1>Treffen vom {{ meetup.start|date }}</h1>
    {% if meetup.notes %}
    {{ meetup.notes|rst|safe }}
    {% else %}
    <p>Keine Notizen vorhanden.</p>
    {% endif %}
{% endblock %}
{% block sidebar %}
{{ super() }}
<div class="block" id="info">
    <div class="content">
        {% if meetup.start %}
        <dl>
            <dt>Beginn:</dt>
            <dd>{{ meetup.start }}</dd>
        </dl>
        {% endif %}
        {% if meetup.end %}
        <dl>
            <dt>Geplantes Ende:</dt>
            <dd>{{ meetup.end }}</dd>
        </dl>
        {% endif %}
        {% if meetup.location %}
        <dl>
            <dt>Ort:</dt>
            <dd>{{ meetup.location.name }}</dd>
        </dl>
        {% endif %}
    </div>
</div>
{% if versions %}
<div class="block" id="docinfo">
    <h2 class="title">Über dieses Seite</h2>
    <div class="content">
        <dl>
            <dt>Aktualisiert:</dt>
            <dd>
                {{ meetup.updated_at }}
            </dd>
        </dl>
        <dl id="versions">
            <dt>Versionen:</dt>
            <dd>
                <ul>
                    {% for version in versions %}
                    <li class="{{ version._id == meetup._id and "active" or "" }}">
                    <a href="/doc/{{ version._id }}">
                        {{ version.updated_at }}</a></li>
                    {% endfor %}
                </ul>
            </dd>
        </dl>
    </div>
</div>
{% endif %}

{% endblock %}
{% block subnav_archive %}active{% endblock %}
