{% extends "meetups/base.html" %}
{% block title %}Treffen vom {{ meetup.start|date }}{% endblock %}
{% block body %}
    <h1>Treffen vom {{ meetup.start|date }}</h1>
    {% if meetup.notes %}
    {{ meetup.notes|rst|safe }}
    {% else %}
    <p>Keine Notizen vorhanden.</p>
    {% endif %}
    {% if is_admin %}
        <a href="{{ url_for('.edit_meetup', date=meetup.start|datecode) }}" class="edit">Treffen ändern</a>
        <a href="{{ url_for('.delete_meetup', date=meetup.start|datecode) }}" class="edit">Treffen löschen</a>
    {% endif %}
    <section id="ideas">
        <h1>Themenvorschläge</h1>
        {% if ideas %}
        <ul>
            {% for idea in ideas %}
            <li><p class="summary">
                    {% if idea.url %}
                    <a href="{{ idea.url }}" rel="nofollow">{{ idea.summary }}</a>
                    {% else %}
                    {{ idea.summary }}
                    {% endif %} ({{ vote_results[idea.id] }})
                <p>
                {% if idea.details %}
                <div class="details">{{ idea.details|rst|safe }}</div>
                {% endif %}
                {% if is_logged_in %}
                    {% if idea.id in user_upvotes %}
                    <a href="{{ url_for('meetups.unvote_sessionidea', date=meetup.start|datecode, id=idea.id) }}" class="upvote unvote">+1</a>
                    {% else %}
                    <a href="{{ url_for('meetups.vote_up_sessionidea', date=meetup.start|datecode, id=idea.id) }}" class="upvote">+1</a>
                    {% endif %}


                    {% if idea.id in user_downvotes %}
                    <a href="{{ url_for('meetups.unvote_sessionidea', date=meetup.start|datecode, id=idea.id) }}" class="downvote unvote">-1</a>
                    {% else %}
                    <a href="{{ url_for('meetups.vote_down_sessionidea', date=meetup.start|datecode, id=idea.id) }}" class="downvote">-1</a>
                    {% endif %}
                {% endif %}
                {% if idea.user == g.user or is_admin %}
                <a href="{{ url_for('meetups.edit_sessionidea', date=meetup.start|datecode, id=idea.id) }}">Editieren</a>
                <a href="{{ url_for('meetups.delete_sessionidea', date=meetup.start|datecode, id=idea.id) }}">Löschen</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Es hat leider noch keine Themenvorschläge für dieses Meetup eingetragen.</p>
        {% endif %}
    {% if is_logged_in %}
    <a class="add-idea" href="{{ url_for('meetups.meetup', date=meetup.start|datecode) }}/sessionideas/add">Neuen Themenvorschlag hinzufügen</a>
    {% endif %}
{% endblock %}
{% block sidebar %}
{{ super() }}
<div class="block" id="info">
    <div class="content">
        {% if meetup.location and meetup.address %}
        <iframe id="map" width="270" height="200" frameborder="0" scrolling="no" 
            marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{ meetup.address|urlencode }}&amp;output=embed&amp;iwloc="></iframe>
        {% endif %}
        {% if meetup.start %}
        <dl>
            <dt>Beginn:</dt>
            <dd>{{ meetup.start|datetime }}</dd>
        </dl>
        {% endif %}
        {% if meetup.end %}
        <dl>
            <dt>Geplantes Ende:</dt>
            <dd>{{ meetup.end|datetime }}</dd>
        </dl>
        {% endif %}
        {% if meetup.location %}
        <dl>
            <dt>Ort:</dt>
            <dd>{{ meetup.location }}</dd>
        </dl>
        <dl>
            <dt>Adresse:</dt>
            <dd>{{ meetup.address }}</dd>
        </dl>
        {% endif %}
    </div>
</div>
{% include "_docinfo.html" %}
{% endblock %}
{% block subnav_archive %}active{% endblock %}
