{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block body %}
    <form method="POST">
        <div>
            <label for="summary">Kurzbeschreibung:</label>
            {{ formgen.input(form.summary, type="text") }}
            {{ forms.errors(form.summary) }}
        </div>
        <div>
            <label for="details">Details:</label>
            {{ formgen.textarea(form.details) }}
            {{ forms.errors(form.details) }}
        </div>
        <div>
            <label for="url">URL:</label>
            {{ formgen.input(form.url, type="text") }}
            {{ forms.errors(form.url) }}
        </div>
        <div class="buttons">
            <button type="submit">Speichern</button>
        </div>
    </form>
{% endblock %}
