{% extends "meetups/base.html" %}
{% block title %}Vergangene Treffen{% endblock %}
{% block body %}
<h1>Vergangene Treffen</h1>
<table>
    <thead>
        <tr>
            <th>Tag</th>
            <th>Beginn</th>
            <th>Ort</th>
        </tr>
    </thead>
    <tbody>
        {% for meetup in meetups %}
        <tr>
            <td class="date"><a href="{{ url_for('meetup', date=meetup.start|datecode) }}">{{ meetup.utc_start|date }}</a></td>
            <td class="start">{{ meetup.utc_start|time}}</td>
            <td class="location">{% if meetup.location %}
                {{ meetup.location.name }}
            {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block subnav_archive %}active{% endblock %}
