{% extends "meetups/base.html" %}
{% import "forms.html" as forms %}
{% block body %}
<form method="POST">
    <div>
        <label for="start">Beginn:</label>
        {{ formgen.input(form.start) }}
        {{ forms.errors(form.start) }}
    </div>
    <div>
        <label for="end">Geplantes Ende:</label>
        {{ formgen.input(form.end) }}
        {{ forms.errors(form.end) }}
    </div>
    <div>
        <label for="end">Ort:</label>
        {{ formgen.input(form.location['name']) }}
        {{ forms.errors(form.location['name']) }}
    </div>
    <div>
        <label for="end">Adresse:</label>
        {{ formgen.input(form.location.address) }}
        {{ forms.errors(form.location.address) }}
    </div>
    <div>
        <label for="notes">Notizen:</label>
        {{ formgen.textarea(form.notes) }}
        {{ forms.errors(form.notes) }}
    </div>
    <button type="submit">Speichern</button>
</form>
{% endblock %}
