/* line 14, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 4, src/_content.scss */
#body table {
  margin-bottom: 1em;
  border-collapse: collapse;
  width: 100%;
}
/* line 9, src/_content.scss */
#body td, #body th {
  padding: 5px;
  border-bottom: 1px solid #DEDEDE;
}
/* line 13, src/_content.scss */
#body th {
  font-weight: bold;
  text-align: center;
  background: #95c3ea;
  color: #305370;
  border-top: 1px solid #305370;
}

/* line 7, src/screen.scss */
body {
  font-size: 16px;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333;
  background: url(bodybg.png) top left repeat-x;
}

/* line 14, src/screen.scss */
header, footer, #main {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 17, src/screen.scss */
#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
  padding-top: 10px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo {
  overflow-x: hidden;
}

/* line 21, src/screen.scss */
#mainnav {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 830px;
  margin-right: 0;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav {
  overflow-x: hidden;
}
/* line 25, src/screen.scss */
#mainnav ul {
  float: right;
  padding: 4px 7px 0 7px;
  background: #95c3ea;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -khtml-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
/* line 31, src/screen.scss */
#mainnav ul li {
  float: left;
}
/* line 34, src/screen.scss */
#mainnav ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  color: #366d9c;
}
/* line 41, src/screen.scss */
#mainnav ul li a:hover, #mainnav ul li a.active {
  border-bottom: 4px solid #366d9c;
}
/* line 44, src/screen.scss */
#mainnav ul li a.active {
  color: #305370;
  font-weight: bold;
}

/* line 52, src/screen.scss */
#main {
  padding-top: 2em;
}

/* line 56, src/screen.scss */
#body {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  padding-right: 40px;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #body {
  overflow-x: hidden;
}
/* line 60, src/screen.scss */
#body h1 {
  font-size: 200%;
  margin-bottom: 1em;
}
/* line 65, src/screen.scss */
#body p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

/* line 70, src/screen.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
  margin-right: 0;
}
/* line 139, ../../../../../../.gem/ruby/1.8/gems/compass-0.10.4/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}

/* line 74, src/screen.scss */
#subnav {
  width: 80%;
  float: right;
}
/* line 78, src/screen.scss */
#subnav li {
  border: 1px solid #DDD;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 3px;
  background: #FAFAFA;
}
/* line 85, src/screen.scss */
#subnav a {
  display: block;
  padding: 5px;
  color: #333;
  font-size: 110%;
  text-decoration: none;
  border-left: 1em solid transparent;
}
/* line 93, src/screen.scss */
#subnav a.active {
  border-left: 1em solid #ffd34b;
}
