{% extends "admin/base.html" %}
{% block subnav_locks %}active{% endblock %}
{% block body %}
    <h1>Locks</h1>
    
    <table>
        <thead>
            <tr>
                <th>Dokument</th>
                <th>Holder</th>
                <th>Ablaufdatum</th>
            </tr>
        </thead>
        <tbody>
            {% for k, v in locks.iteritems() %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v.holder.username }}</td>
                <td>{{ v.expires|datetime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
